[data-theme='light'] {
  --header-background: #ffffff;
  --layout-background: #fafafa;
  --font-color: #000000;
}

[data-theme='dark'] {
  --header-background: #000000;
  --layout-background: #090909;
  --font-color: #ffffff;
}
